SharedPlaylistClient/Service References/SharedKanclPlaylistWCFClient/SharedKanclPlaylistWCFSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SharedKanclPlaylistWCFSvc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.0.101:8081/SharedKanclPlaylistWCF?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.0.101:8081/SharedKanclPlaylistWCF?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISharedKanclPlaylistWCFSvc_SendYoutubeUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:SendYoutubeUrl" />
  </wsdl:message>
  <wsdl:message name="ISharedKanclPlaylistWCFSvc_SendYoutubeUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendYoutubeUrlResponse" />
  </wsdl:message>
  <wsdl:message name="ISharedKanclPlaylistWCFSvc_GetYoutubeUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYoutubeUrl" />
  </wsdl:message>
  <wsdl:message name="ISharedKanclPlaylistWCFSvc_GetYoutubeUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYoutubeUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="ISharedKanclPlaylistWCFSvc">
    <wsdl:operation name="SendYoutubeUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharedKanclPlaylistWCFSvc/SendYoutubeUrl" message="tns:ISharedKanclPlaylistWCFSvc_SendYoutubeUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharedKanclPlaylistWCFSvc/SendYoutubeUrlResponse" message="tns:ISharedKanclPlaylistWCFSvc_SendYoutubeUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/ISharedKanclPlaylistWCFSvc/GetYoutubeUrl" message="tns:ISharedKanclPlaylistWCFSvc_GetYoutubeUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISharedKanclPlaylistWCFSvc/GetYoutubeUrlResponse" message="tns:ISharedKanclPlaylistWCFSvc_GetYoutubeUrl_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISharedKanclPlaylistWCFSvc" type="tns:ISharedKanclPlaylistWCFSvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendYoutubeUrl">
      <soap:operation soapAction="http://tempuri.org/ISharedKanclPlaylistWCFSvc/SendYoutubeUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYoutubeUrl">
      <soap:operation soapAction="http://tempuri.org/ISharedKanclPlaylistWCFSvc/GetYoutubeUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SharedKanclPlaylistWCFSvc">
    <wsdl:port name="BasicHttpBinding_ISharedKanclPlaylistWCFSvc" binding="tns:BasicHttpBinding_ISharedKanclPlaylistWCFSvc">
      <soap:address location="http://192.168.0.101:8081/SharedKanclPlaylistWCF/SharedKanclPlaylistWCFSvc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>